---
import { getCollection, render } from "astro:content";
import BlogLayout from "../../layouts/BlogLayout.astro";
import PostMeta from "../../components/PostMeta.astro";
import { post as strings } from "../../strings";
import { getTwitterUrl, getExcerpt } from "../../utils";
import { paths } from "../../config";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.data.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { title, slug, author, date, crosspost } = post.data;
const { Content } = await render(post);
---

<BlogLayout
  title={strings.pageTitle(title)}
  description={getExcerpt(post, 280)}
  slug={`${paths.articleBase}/${slug}`}
  creator={getTwitterUrl(author)}
>
  <article id="post">
    <h1 class="title">{title}</h1>
    <PostMeta author={author} date={date} />
    {
      crosspost && (
        <p class="crosspost" set:html={strings.crosspost(crosspost.hasPrefix, crosspost.site, crosspost.url)} />
      )
    }
    <div class="body">
      <Content />
    </div>
  </article>
</BlogLayout>

<style>
  .title {
    font: var(--font-post-title);
    margin: 0;
    text-transform: none;
  }

  .crosspost {
    font: italic var(--font-post-body);
    padding-bottom: 2rem;
  }

  .body {
    font: var(--font-post-body);
    margin: 3rem 0 0;

    p {
      margin: 1rem 0;
    }
    code {
      font: var(--font-post-code);
    }

    img {
      max-width: 100%;
      height: auto;
    }

    pre {
      box-shadow:
        0 1px 0.25rem 0 rgba(0, 0, 0, 0.3),
        0 1rem 1.25rem 0 rgba(0, 0, 0, 0.14);
      padding: 1rem;
      overflow-x: auto;
      border-radius: 0.25rem;
    }
  }
</style>
