---
import { slugs } from "../config";
import Layout from "../layouts/Layout.astro";
import { notFound } from "../strings";
import { renderInlineMarkdown } from "../utils";
---

<Layout title={notFound.pageTitle} description={notFound.pageDescription} slug={slugs.notFound} class="root">
  <main class="container">
    <h1>{notFound.heading}</h1>
    <p set:html={renderInlineMarkdown(notFound.body)} />
  </main>
</Layout>

<style>
  .root {
    display: grid;
    place-items: center;
    text-align: center;
    width: 100vw;
  }

  .container {
    padding-bottom: calc(100vh / 3);

    h1 {
      font: var(--font-hero-title);
      padding-bottom: 3rem;
    }

    p {
      font: var(--font-hero-text);
    }
  }
</style>
