---
import { getCollection, render } from "astro:content";
import BlogLayout from "../layouts/BlogLayout.astro";
import PostMeta from "../components/PostMeta.astro";
import { blog, global } from "../data/strings";
import { renderInlineMarkdown, getExcerpt } from "../utils";
import { paths, slugs } from "../data/config";

const posts = await getCollection("posts");
posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const { Content, headings, remarkPluginFrontmatter } = await render(posts[0]);
---

<BlogLayout title={blog.pageTitle} description={blog.pageDescription} slug={slugs.blog}>
  <section>
    <h1 class="hero-title">{blog.title}</h1>
    <p class="hero-text" set:html={renderInlineMarkdown(blog.hero)} />
    <p class="hero-text">{global.header.introExtended}</p>
  </section>

  <section>
    <h2 class="posts-title">{blog.latestHeading}</h2>
    <ul class="post-list">
      {
        posts.map((post) => (
          <li>
            <h3 class="post-title">
              <a href={`/${paths.articleBase}/${post.data.slug}`}>{post.data.title}</a>
            </h3>
            <PostMeta date={post.data.date} author={post.data.author} />
            <Content className="post-excerpt" />
            <p class="post-excerpt">{renderInlineMarkdown(post.body ?? "")}</p>
          </li>
        ))
      }
    </ul>
  </section>
</BlogLayout>

<style>
  .hero-title {
    margin: 0.75rem 0;
    font: var(--font-hero-title);
    text-transform: uppercase;
  }

  .hero-text {
    font: var(--font-hero-text);
    margin: 1.5rem 0;

    a {
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .posts-title {
    margin: 3rem 0 1rem;
    font: var(--font-post-section-title);
    text-transform: uppercase;
  }

  .post-list li {
    list-style: none;
    padding-bottom: 4rem;
  }

  .post-title {
    a {
      font: var(--font-post-title);
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  .post-excerpt {
    font: var(--font-post-body);

    line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
</style>
