---
import { getImage } from "astro:assets";
import { BASE_URL, FALLBACK_IMAGE } from "../config";
import bgPatternPng from "../../assets/bg_pattern.png";
import bgPatternWebp from "../../assets/bg_pattern.webp";

interface Props {
  title: string;
  description: string;
  slug: string;
  creator?: string;
  ogImage?: string;
  class?: string;
}

const patternWebp = await getImage({ src: bgPatternWebp, format: "webp" });
const patternPng = await getImage({ src: bgPatternPng, format: "png" });

const { title, description, slug, creator, ogImage, class: className, ...props } = Astro.props;
const ogImagePath = `${BASE_URL}${ogImage ?? FALLBACK_IMAGE}`;
const url = `${BASE_URL}/${slug}`;
---

<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={ogImagePath} />
    <meta property="og:url" content={url} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content={url} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:image" content={ogImagePath} />
    <meta name="twitter:description" content={description} />
    {creator && <meta name="twitter:site" content={creator} />}
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 120 110%22><text y=%22.9em%22 font-size=%2290%22>🌶️</text></svg>"
    />

    <link rel="alternate" type="application/rss+xml" title="Spicy Blog" href="/rss.xml" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    style={`--pattern-webp: url('${patternWebp.src}'); --pattern-png: url('${patternPng.src}')`}
    class={className}
    {...props}
  >
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --content-width: 66rem;
    --sidebar-width: 22rem;
    --footer-height: 4rem;
    --blog-header-height: 4rem;

    --color-black: #260f0f;
    --color-white: #fff;
    --color-primary: #f55;
    --color-primary-dim: #ffdede;
    --color-footer: #4b7f40;
    --color-text-muted: #737373;

    --font-family: "Source Sans 3", sans-serif;
    --font-family-code: source-code-3, Menlo, Monaco, Consolas, "Courier New", monospace;

    --font-footer: 400 1.2rem/var(--footer-height) var(--font-family);
    --font-blog-header-nav: 700 2.25rem var(--font-family);
    --font-about-header-title: 700 3.5rem var(--font-family);
    --font-about-header-body: 400 1.75rem var(--font-family);
    --font-profile-name: 600 1.5rem var(--font-family);
    --font-profile-city: 400 1rem var(--font-family);
    --font-profile-bio: 400 1rem/1.375rem var(--font-family);
    --font-post-title: 400 2.5rem var(--font-family);
    --font-post-meta: 300 1.25rem var(--font-family);
    --font-post-body: 400 1.25rem var(--font-family);
    --font-post-code: 400 1rem var(--font-family-code);
    --font-sidebar-body: 400 1.75rem var(--font-family);
    --font-hero-title: 700 4rem var(--font-family);
    --font-hero-text: 400 1.5rem var(--font-family);
    --font-post-section-title: 700 3rem var(--font-family);

    font-size: 16px;
  }

  h1,
  h2,
  h4,
  p,
  ul {
    margin: 0;
    padding: 0;
  }

  body {
    background: var(--color-primary);
    color: var(--color-black);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
  }

  a {
    color: var(--color-black);
  }
  a:hover {
    opacity: 0.8;
  }

  code,
  pre {
    font-family: var(--font-family-code);
  }
</style>

<style>
  body {
    min-height: 100vh;
    background: var(--color-primary)
      image-set(var(--pattern-webp) type("image/webp"), var(--pattern-png) type("image/png")) repeat;
  }
</style>
